In [44]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [82]:
df = pd.read_csv(r'G:\traindata\RFMtest\Retail_Data_Transactions.csv')
df.head()

  customer_id trans_date  tran_amount
0      CS5295  11-Feb-13           35
1      CS4768  15-Mar-15           39
2      CS2122  26-Feb-13           52
3      CS1217  16-Nov-11           99
4      CS1850  20-Nov-13           78

In [83]:
df['trans_date'] = pd.to_datetime(df['trans_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125000 entries, 0 to 124999
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_id  125000 non-null  object
 1   trans_date   125000 non-null  datetime64[ns]
 2   tran_amount  125000 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.9+ MB

In [84]:
df['trans_date'].min()

Timestamp('2011-05-16 00:00:00')

In [85]:
df['trans_date'].max()

Timestamp('2015-03-16 00:00:00')

In [86]:
R_today = dt.datetime(2015,3,17)

In [87]:
df['R_diff'] = (R_today-df['trans_date']).dt.days
df.head()

  customer_id trans_date  tran_amount  R_diff
0      CS5295 2013-02-11           35     764
1      CS4768 2015-03-15           39       2
2      CS2122 2013-02-26           52     749
3      CS1217 2011-11-16           99    1217
4      CS1850 2013-11-20           78     482

In [88]:
R = df.groupby(by = ['customer_id'])['R_diff']
R.head()

0          764
1            2
2          749
3         1217
4          482
          ...
124305     876
124326     793
124395      66
124602     252
124878     992
Name: R_diff, Length: 34439, dtype: int64

In [89]:
R = R.agg([('R_diff','min')])
R.head()

             R_diff
customer_id
CS1112           62
CS1113           36
CS1114           33
CS1115           12
CS1116          204

In [90]:
R.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6889 entries, CS1112 to CS9000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   R_diff  6889 non-null   int64
dtypes: int64(1)
memory usage: 107.6+ KB

In [91]:
F = df.groupby(by = ['customer_id'])['customer_id'].agg([('F_fre','count')])
M = df.groupby(by = ['customer_id'])['tran_amount'].agg([('M_sum',sum)])
RFM = R.join(F).join(M)
RFM.head()

             R_diff  F_fre  M_sum
customer_id
CS1112           62     15   1012
CS1113           36     20   1490
CS1114           33     19   1432
CS1115           12     22   1659
CS1116          204     13    857

In [99]:
RFM.describe()

,R_diff,F_fre,M_sum,R_score,F_score,M_score,RFM
count,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000,6889.000000
mean,81.538249,18.144869,1179.269705,2.510379,2.420961,2.498911,2.471171
std,85.382526,5.193014,465.832609,1.124218,1.075491,1.118699,0.878832
min,1.000000,4.000000,149.000000,1.000000,1.000000,1.000000,1.000000
25%,23.000000,14.000000,781.000000,2.000000,1.000000,1.000000,1.700000
50%,54.000000,18.000000,1227.000000,3.000000,2.000000,2.000000,2.400000
75%,112.000000,22.000000,1520.000000,4.000000,3.000000,3.000000,3.300000
max,858.000000,39.000000,2933.000000,4.000000,4.000000,4.000000,4.000000

In [96]:
RFM["R_score"]=np.where(RFM.R_diff<=23,4,np.where(RFM.R_diff<=54,3,np.where(RFM.R_diff<=112,2,1)))
RFM["F_score"]=np.where(RFM.F_fre<=14,1,np.where(RFM.F_fre<=18,2,np.where(RFM.F_fre<=22,3,4)))
RFM["M_score"]=np.where(RFM.M_sum<=781,1,np.where(RFM.M_sum<=1227,2,np.where(RFM.M_sum<=1520,3,4)))
RFM.head()

In [97]:
RFM["RFM"] = RFM["R_score"]*0.3+RFM["F_score"]*0.4+RFM["M_score"]*0.3
RFM.head()

             R_diff  F_fre  M_sum  R_score  F_score  M_score  RFM
customer_id
CS1112           62     15   1012        2        2        2  2.0
CS1113           36     20   1490        3        3        3  3.0
CS1114           33     19   1432        3        3        3  3.0
CS1115           12     22   1659        4        3        4  3.6
CS1116          204     13    857        1        1        2  1.3

In [98]:
bins = RFM.RFM.quantile(q = np.linspace(0,1,num = 9),interpolation = 'nearest')
labels = ['潜在客户','一般发展客户','一般保持客户','一般价值客户','重要挽留客户','重要发展客户','重要保持客户','高价值客户']
RFM['types'] = pd.cut(RFM.RFM,bins = bins,labels = labels,include_lowest = True)
RFM.head()

             R_diff  F_fre  M_sum  R_score  F_score  M_score  RFM   types
customer_id
CS1112           62     15   1012        2        2        2  2.0  一般保持客户
CS1113           36     20   1490        3        3        3  3.0  重要发展客户
CS1114           33     19   1432        3        3        3  3.0  重要发展客户
CS1115           12     22   1659        4        3        4  3.6  重要保持客户
CS1116          204     13    857        1        1        2  1.3    潜在客户

In [ ]:
# plt.figure(figsize=(20,5))
# sns.countplot(data=RFM,x="types")
# plt.show()

In [ ]:
Money = RFM.groupby(by = ['types'])['M_sum'].agg([('money_diff',sum)])
Money.head(9)

In [ ]:
Money.info()

In [ ]:
# plt.figure(figsize=(20,5))
# sns.countplot(data=Money,x = 'money_diff')
# plt.show()

In [ ]:
person = RFM.groupby(by = ['types'])['types'].agg([('types','count')])
person.head(9)